<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.Loginbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.Loginbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
</style>
</head>
<body>
    <%= form_tag( { :action => :edit_user_info, :controller=> :user_controller},{ :method => :post,:remote =>true}) do %>
  <div class="container" style="width:fit-content; background-image:url('<%=asset_path("background_image6.jpg")%>');
  background-repeat: no-repeat;
    background-size: cover;
    height: fit-content; 
    font-style: italic;
    font-size: 20px;
    color: darkkhaki;">
    
    
    
    <input type="hidden" id="id" name="id" value="<%=@object.id%>" >
     
     <label for="name"><b>FirstName</b></label>
    <input type="text" placeholder="Enter FirstName" id="name" name="firstname" value="<%=@object.firstname%>">

     <label for="name2"><b>SecondName</b></label>
    <input type="text" placeholder="Enter SecondName" id="name2" name="secondname" value="<%=@object.secondname%>">

    <label for="phoneNo"><b>Phone Number</b></label>
    <input type="text" placeholder="Enter PhoneNumber" id="phoneNo" name="phoneNo" value="<%=@object.phoneNo%>">

    <label for="dob"><b>Date Of Birth</b></label>
    <input type="date" placeholder="Enter DateOfBirth" id="dob" name="dob" value="<%=@object.dob.to_s.gsub(' 00:00:00 UTC','')%>">
    <br>
    <br>
<label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" value="<%=@object.email%>">

    <label for="Gender"><b>Gender</b></label>
    <%if @object.gender==0%>
    <input type="radio" id="gender_m" name="gender" value="0" checked> Male
  <input type="radio" id="gender_f" name="gender" value="1" > Female<br>
  <%else%>
     <input type="radio" id="gender_m" name="gender" value="0"> Male
  <input type="radio" id="gender_f" name="gender" value="1" checked> Female<br>
  <%end%>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="password" value="<%=@object.password%>">
    
      <%= submit_tag "Edit",:onclick=> "",:class=>"Loginbtn" %>
      
  </div>
  <% end %>

</body>
</html>
